/**
 * @name Dyslexia
 * @author Tropical#8908 & Qwerasd#5202
 * @version 1.0
 * @description A simple discord theme which makes the app more accommodating to people with dyslexia.
 * @source https://github.com/DiscordStyles/discord-dyslexia/
 */

/* ----------------------------------------------------------------------- */

/* IMPORT SOURCE CODE */

@import url(https://github.com/52and2/aporetic-theme/raw/refs/heads/main/src/base.css);

/* ----------------------------------------------------------------------- */

/* SETTINGS */

@font-face {
  font-family: myFont; /* set name */
  src: url(sansation_light.woff); /* url of the font */
}

p {
  font-family: myFont; /* use font */
}

/* ----------------------------------------------------------------------- */
